.main-header {
  @include fontSizeWeightAndLineHeight($font-72, $font-bold, $font-80);

  color: $white;

  @media screen and (max-width: $md) {
    @include fontSizeWeightAndLineHeight($font-56, $font-bold, $font-64);
  }

  @media screen and (max-width: $xsm) {
    @include fontSizeWeightAndLineHeight($font-48, $font-bold, $font-56);
  }

  &--accent {
    color: $accent-color;
    text-shadow: 0 0 8px rgba($black, 0.3);
  }

  &--block {
    display: block;
  }
}
