.section-header {
  @include fontSizeWeightAndLineHeight($font-32, $font-black, $font-40);

  position: relative;
  padding-left: nth($spaces, 2);
  margin-bottom: nth($spaces, 4);

  &::before {
    @include initPseudoElement();
    @include setElementSize(nth($spaces, 1), nth($spaces, 4));

    top: 0;
    left: 0;
    background-color: $accent-color;
    z-index: 0;
  }

  &--offset {
    transform: translateX(nth($spaces, 2) * -1);
  }
}
