@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@import "utils";
@import "elements";
@import "components";
@import "layouts";
@import "templates";

html {
  font-size: $font-base;
}

body {
  @include fontMontserrat();
  @include fontSizeWeightAndLineHeight($font-base, $font-regular, $font-24);

  background-color: $white;
  color: $text-color;
}
