.location {
  background-color: $background-color-2;
  color: $white;
  padding: nth($spaces, 8) nth($spaces, 10);

  @media screen and (max-width: $md) {
    padding: nth($spaces, 6) nth($spaces, 6);
  }

  @media screen and (max-width: $xsm) {
    padding: nth($spaces, 4);
  }

  &__header {
    @include fontSizeWeightAndLineHeight($font-24, $font-bold, $font-32);

    margin-bottom: nth($spaces, 2);

    &--accent {
      display: inline-block;
      font-weight: $font-regular;
    }
  }
}
