.our-successes {
  &__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__image {
    width: 100% !important;
    user-select: none;

    @media screen and (max-width: $sm) {
      display: none;
    }
  }

  &__counter {
    &-number {
      @include fontSizeWeightAndLineHeight($font-48, $font-black, $font-48);

      display: block;
      margin-bottom: nth($spaces, 1);
    }
  }
}
