.link {
  display: inline-block;
  color: $text-color;
  cursor: pointer;

  &:hover {
    color: $text-color;
    text-decoration: none;
    opacity: 0.5;
  }

  &--white {
    color: $white;

    &:hover {
      color: $white;
    }
  }

  &--navigation {
    @include fontSizeWeightAndLineHeight($font-18, $font-bold, $font-24);
  }

  &--active {
    color: $accent-color;
  }

  &--accent {
    @include fontSizeWeightAndLineHeight($font-18, $font-bold, $font-24);

    color: $accent-color;
    border-bottom: 2px solid $accent-color;
  }
}
