@mixin fontMontserrat() {
  font-family: "Montserrat", sans-serif;
}

@mixin fontSizeWeightAndLineHeight($size, $weight, $lineHeight) {
  font-size: $size;
  font-weight: $weight;
  line-height: $lineHeight;
}

@mixin customShadow($color) {
  box-shadow: 5px 5px 30px $color;
}

@mixin customBorder($size, $color, $radius) {
  border: $size solid $color;
  border-radius: $radius;
}

@mixin spriteInit() {
  position: relative;
  display: block;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position-x: 50%;
}

@mixin setElementSize($width, $height) {
  width: $width;
  height: $height;
}

@mixin initPseudoElement() {
  content: "";
  display: block;
  position: absolute;
}

@mixin initPositionAbsolute() {
  position: absolute;
  top: 0;
  left: 0;
}

@mixin positionAbsoluteCenter() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flexCenter() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin commonTransition($property, $duration, $delay: 0s) {
  transition: $property $duration $delay $transition-function;
}
