$space-base: 8px;
$spaces: ();
$breakpoints: (lg: $lg, md: $md, sm: $sm, xsm: $xsm);
$property-and-name: (
  padding-left: cpl,
  padding-right: cpr,
  padding-top: cpt,
  padding-bottom: cpb,
  padding: cp,
  margin-left: cml,
  margin-right: cmr,
  margin-top: cmt,
  margin-bottom: cmb,
  margin: cm,
);

@for $i from 1 through 10 {
  $spaces: append($spaces, $i * $space-base);
}

$space-200: 200px;

@for $i from 10 through 0 {
  $value: $i * $space-base;

  @each $prop, $abbrev in $property-and-name {

    .#{$abbrev}-#{$i} {
      #{$prop}: $value !important;
    }

    @each $breakpoint, $width in $breakpoints {
      @media screen and (max-width: #{$width}) {
        .#{$abbrev}-#{$breakpoint}-#{$i} {
          #{$prop}: $value !important;
        }
      }
    }
  }
}
