$xsm: 575px;
$sm: 767px;
$md: 991px;
$lg: 1199px;

$font-black: 900;
$font-bold: 700;
$font-regular: 400;

$font-base: 1rem;
$font-18: 1.1rem;
$font-24: 1.725rem;

$white: #ffffff;
$black: #000000;

$accent-color: #4694ff;
$text-color: #263141;

$background-color-1: #f8f8f8;
$background-color-2: #0b1744;
