$xsm: 575px;
$sm: 767px;
$md: 991px;
$lg: 1199px;

$font-black: 900;
$font-bold: 700;
$font-regular: 400;

$font-base: 1rem;
$font-18: 1.1rem;
$font-20: 1.5rem;
$font-24: 1.725rem;
$font-32: 2rem;
$font-40: 2.5rem;
$font-48: 3rem;
$font-56: 3.5rem;
$font-64: 4rem;
$font-72: 4.5rem;
$font-80: 5rem;

$white: #ffffff;
$black: #000000;

$accent-color: #4694ff;
$secondary-color: #6d6d6d;
$text-color: #263141;

$background-color-1: #f8f8f8;
$background-color-2: #0b1744;
