.navigation {
  @media screen and (max-width: $sm) {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba($white, 0.99);
    padding: nth($spaces, 5);
    z-index: 99;

    &--active {
      display: block;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    height: 100%;

    @media screen and (max-width: $sm) {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
  }
}
